textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: whitesmoke;
    resize: none;
}

p{
    position: relative;
    margin-top: 160px;
    right: 45px;
}